<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/home/home.css?v={{ layui.admin.v }}-1" media="all">
</script>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>

<div class="layui-container home-marin">

    <div class="layui-row layui-col-space10 ">
        <div class="layui-col-sm4 layui-col-md3  home-first-item">
            <!-- 填充内容 -->
            <div class="layui-card">
                1222
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-md3  home-first-item">
            <div class="layui-card">
                2222
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-md3  home-first-item">
            <div class="layui-col-sm4 layui-col-md3  home-first-item3">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        2222
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        2222
                    </div>
                </div>
            </div>
            <div class="layui-col-sm4 layui-col-md3  home-first-item2">
                <div class="layui-card">
                    2222
                </div>
            </div>

        </div>
        <div class="layui-col-sm4 layui-col-md3  home-first-item">
            <div class="layui-card">
                2222
            </div>
        </div>
    </div>
</div>